body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("/conversor-de-moedas/imagens/coin-white-background.jpg");
  
  background-color: #000000;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #111;
  margin: 0 0 5px;
  text-shadow: 0 0 10px green;
  font-size: 50px;
}

.page-subtitle {
  color: #0c130c;
  margin-top: 5px;
  text-shadow: 0 0 10px green;
  font-size: 30px;
  font-weight: bold;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: rgb(3, 7, 1);
  font-weight: bold;
  text-shadow: 0 0 10px green;
  font-size: 30px;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0 0 15px green;
}